<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Finteligo</title>
    <meta
      name="description"
      content="Finteligo: Advanced AI-powered fintech solution revolutionizing personal and business finance management. Intelligent insights, predictive analytics, and automated financial planning for smarter decision-making." />
    {{.viteHTMLTag}}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
